/* Folha de estilo do site one page html5 e css 3
@autor Reidner Willians
pachecoreidner@gmail.com*/

body {
  background-color: #001b48;
}

/* Smartphone Portrait>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */

/* Smartphone Landscape>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */

@media (min-width: 576px) {
  body {
    background-color: #02457a;
  }
}

/* Tablet Portrait>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */
@media (min-width: 768px) {
  body {
    background-color: #d3f180;
  }
}

/* Tablet Landscape>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */
@media (min-width: 992px) {
    body {
      background-color: #e62d15;
    }
  }
/* Desktope e Notebook >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */
@media (min-width: 1200px) {
    body {
      background-color: #0ed429;
    }
  }